{% extends "base.html" %}

{% block head %} 
<title>Home</title>
{% endblock %}

{% block content %}

<section id="welcome-hero" class="welcome-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="header-text">
                    <h2>Meet<span>;</span> <br> Christina <br></h2>
                    <p>App/Web Developer & Digital analyst</p>
                    <a href="static/download/ChristinaDeng_resume.pdf" target="_blank">My Resume</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="about">
    <div class="section-heading text-center">
        <h2>Get To Know Me</h2>
    </div>
    <div class="container">
        <div class="about-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="single-about-txt">
                        <h3>
                            I am an Application developer working at Rogers.<br> I went to University of Toronto and University of Waterloo.
                        </h3>
                        <br>
                        <ul style="padding-bottom: 10px">
                            <li>BACKGROUND: 
                                <li>Applied Mathematics, Statistics, Finance & Economics</li>
                            </li>
                            <li>CAREER INTEREST:
                                <li> Web/App Development, Big Data, Analytics, Machine Learning & AI</li>
                            </li>
                            <li>WORKFLOW:
                                <li>Waterfall/Agile (Scrum | XP | Kanban) </li>
                            </li> KNOWLEDGE:
                                <li> API & Web Service (GraphQL | RESTful | SOAP), Version Control System, Data Structure and Algorithms (DSA).</li> 
                            </li>
                        </ul>
                        <div class="row" style="border-top: 1px solid #e5ebf2">
                            <div class="col-sm-3">
                                <div class="single-about-add-info">
                                    <h3>phone</h3>
                                    <p style="font-size: small;">604-729-2762</p>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="single-about-add-info">
                                    <h3>email</h3>
                                    <p style="font-size: small;">christinadeng1015@gmail.com</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-about-add-info">
                                    <h3>website</h3>
                                    <p style="font-size: small;">www.christinadeng.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-5">
                    <div class="single-about-img">
                        <img src="static/image/me.jpg" alt="profile_image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skills" class="skills">
    <div class="skill-content">
        <div class="section-heading text-center">
            <h2>Something I like</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-skill-content">
                        <div class="barWrapper">
                            <span class="progressText">HTML</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                   <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="background-color: #824275;">
                                   </div>
                                </div>	
                            </div>
                        </div>
                        <div class="barWrapper">
                            <span class="progressText">CSS</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                   <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="background-color: #824275;">
                                   </div>
                                </div>	
                            </div>
                        </div>
                        <div class="barWrapper">
                            <span class="progressText">JavaScript</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                   <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="75" aria-valuemin="10" aria-valuemax="100" style="background-color: #824275">
                                        
                                   </div>
                                </div>	
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-skill-content">
                        <div class="barWrapper">
                            <span class="progressText">Angular</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                   <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="10" aria-valuemax="100" style="background-color: #824275;">
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="barWrapper">
                            <span class="progressText">Python</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                   <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="background-color: #824275;">
                                   </div>
                                </div>	
                            </div>
                        </div>
                        <div class="barWrapper">
                            <span class="progressText">Java</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                   <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="75" aria-valuemin="10" aria-valuemax="100" style="background-color: #824275;">
                                   </div>
                                </div>	
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-skill-content">
                        <div class="barWrapper">
                            <span class="progressText">R Studio</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="background-color: #824275;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="barWrapper">
                            <span class="progressText">SQL</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="78" aria-valuemin="10" aria-valuemax="100" style="background-color: #824275;">
                                        
                                    </div>
                                </div>	
                            </div>
                        </div>
                        <div class="barWrapper">
                            <span class="progressText"> GIT</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="10" aria-valuemax="100" style="background-color: #824275;">
                                    </div>
                                </div>	
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>		
    </div>
</section>

<section id="portfolio" class="portfolio">
    <div class="portfolio-details">
        <div class="section-heading text-center">
            <h2>Little More To Show</h2>
        </div>
        <div class="container">
            <div class="portfolio-content">
                <div class="isotope">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="item">
                                <img src="static/image/p1.jpeg" alt="portfolio 1"/>
                                <div class="isotope-overlay">
                                    <a href="static/download/Time Series.pdf" target="_blank">
                                        Time Series Analysis
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <img src="static/image/p2.jpeg" alt="portfolio 2"/>
                                <div class="isotope-overlay">
                                    <a href="static/download/Linear Regression.pdf" target="_blank">
                                        Linear Regression Analysis
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item">
                                <img src="static/image/p3.jpeg" alt="portfolio 3"/>
                                <div class="isotope-overlay">
                                    <a href="https://christinadeng-1015.github.io/MyResume/ " target="_blank">
                                        Web/App Development
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item">
                                <img src="static/image/p4.jpeg" alt="portfolio 4"/>
                                <div class="isotope-overlay">
                                    <a href="#">
                                        JavaScript Application
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <img src="static/image/p5.jpeg" alt="portfolio 5"/>
                                <div class="isotope-overlay">
                                    <a href="static/download/automated-puzzle-solving.pdf" target="_blank">
                                        Python Puzzle Solving
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

