{% extends "base.html" %}

{% block head %} 
<title>Timeline</title>
<link href="http://fonts.googleapis.com/css?family=Kristi|Alegreya+Sans:300,800" rel="stylesheet" type="text/css">
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/timelify.css') }}">
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 10%">
	<div class="timeline">
		<h2>2012</h2>
		<ul class="timeline-items">
			<li class="is-hidden timeline-item">
				<h3>Pinetree Secondary</h3><hr>
				<ul>
					<li><b>Academic Awards:</b> Canadian Open Mathematics Challenge Distinction  | Fermat Math Contest | Euclid Math Contest |
					Pre Calculus/Calculus 12 Honor Subject Excellence | School District 43 Mathematics First Class with Special Merit | Chemistry Top Student </li> <br>
					<li><b>Athletic Awards:</b> BC Provincial Badminton Bronze Medal | Fraser Valley Badminton Mixed Doubles & Girls Single 2nd place |  Upper Fraser Badminton Mixed Doubles & Girls Single 1st place |  Coquitlam Badminton Championship Mixed Doubles & Girls Single 1st place </li>
					<br>
					<li><b>Activities:</b> School Badminton Team | Math/Physics/Chemistry Honor Class</li>
					<li><b>Volunteer:</b> Fundraising Volunteer | Event Coordinator</li>
				</ul><br><hr>
				<time>February 2012 - June 2014</time>
			</li>
		</ul>
		<h2>2014</h2>
		<ul class="timeline-items">
			<li class="is-hidden timeline-item inverted">
				<h3>University of Waterloo</h3><hr>
				<ul>
					<li><b>Field of Study:</b> Mathematics Honor, General first year </li><br>
					<li><b>Awards:</b> Mathematics Faculty Annual Scholarship</li>
					<li>University of Waterloo President’s Scholarship</li> <br>
					<li><b>Courses:</b> Computer Science | Linear Algebra | Calculus </li>
					<li> Microeconomics |  Macroeconomics | Financial Accounting </li>
				</ul><br><hr>
				<time>September 2014 - June 2015</time>
			</li>
		</ul>
		<h2>2015</h2>
		<ul class="timeline-items">
			<li class="is-hidden timeline-item">
				<h3>University of Toronto</h3><hr>
				<ul>
					<li><b>Field of Study:</b> Honours Bachelor of Science</li>
					<li><b>Specialist:</b> Mathematical Application in Economics & Finance</li>
					<li><b>Major:</b> Statistical Science </li>
					<li><b>Minor:</b> Economics Science </li><br>
					<li><b>Awards:</b> University of Toronto Badminton Intramural Girls Singles 1st place</li>
					<li>University of Toronto Badminton Intramural Mixed Doubles 1st place</li><br>
					<li><b>Courses:</b> Multivariate Calculus | Combinatorics & Algorithm | Real Analysis | Abstract Mathematics | Nonlinear Optimization |
					Partial/Ordinary Differential Equation | Time Series | Sampling and Observational Data | Probability & Stat
					| Corporate Finance | Financial Accounting | Game Theory</li>
				</ul><br><hr>
				<time>September 2015 - June 2018</time>
			</li>
		</ul>
        <h2>2018</h2>
		<ul class="timeline-items">
			<li class="is-hidden timeline-item inverted">
				<h3>Master of Digital Media</h3><hr>
				<ul>
					<li><b>Field of Study:</b> Digital Media focused on industry experience</li>
					<li><b>Award: </b> Simon Fraser University & MDM House Award </li>
				</ul><br>
				<p>I studied one semester here and quited because of job and relocation.</p><hr>
				<time>September 2018 - January 2019</time>
			</li>
			<li class="is-hidden timeline-item">
				<h3>SFU CAC</h3><hr>
				<ul>
					<li><b>Languages:</b> HTML, CSS, JavaScript, Django, Bootstrap, Jquery </li> <br>
					<li><b>Tools:</b> Visual Studio Code, Adobe Dreamweaver, Illustrator, Photoshop </li> <br>
					<li><b>Core responsibilities:</b> Created responsive site from provided design concepts by implementing HTML, CSS and JavaScript scripts and Bootstrap and jQuery frameworks.</li>
					<li>Designed digital contents using Photoshop and Illustrator.</li>
					<li>Provided internet related services such as domain name registration, web hosting, search engine optimization. </li><br>
					<li><b>Strength:</b> Ability to multi-task, prioritizing projects without supervision and meeting deadlines regardless of workloads.</li>
				</ul><br><hr>
				<time>September 2018 - January 2019</time>
			</li>
		</ul>
		<h2>2019</h2>
		<ul class="timeline-items">
			<li class="is-hidden timeline-item inverted">
				<h3>Linkedin Learning & Pluralsight</h3><hr>
				<ul>
					<li><b>Development:</b> Web/App Development | Object Oriented | Data Science</li><br>
					<li><b>Paths:</b> HTML | CSS | JavaScript | Angular | SCSS | LESS | Django</li>
					<li> Java | SQL | Python |  Git | .Net |  RESTful APIs | Agile Methodology </li> <br>
					<li><b>Achievement:</b> Proficient in HTML5 | CSS | MySQL | Python</li>
				</ul><br><hr>
				<time>January 2019 - Present</time>
			</li>
			<li class="is-hidden timeline-item">
				<h3>Rogers Communication</h3><hr>
				<ul>
					<li><b>Languages:</b> Angular | TypeScript | JavaScript | Node | HTML | CSS | SCSS</li><br>
					<li><b>Tools: </b> Visual Studio Code | Git | Contentful | Jira | Bitbucket | JFrog | NPM</li><br>
					<li><b>Program: </b> Enroll in New Graduate Leadership Program under digital department as developer</li><br>
					<li><b>Core responsibilities:</b> Build assembled components in Angular for Rogers and Fido browse pages and create UI
						extensions and migrate scripts to Contentful DEV and QA environment. Define test cases and metrics, conduct end-to-end testing</li><br>
					<li><b>Achievement:</b> Implement soft limit count to text field in JavaScript to allow business users exceed limit while
						triggering alerts. Develop article template and video component for Rogers Design System</li><br>
					<li><b>Teamwork:</b> Coordinate with product manager, designer and quality assurance to deliver high quality work</li><br>
					<li><b>Network:</b> Connect with front line employees from retail stores and call centers to understand customers’ needs</li><br>
					<li><b>Volunteer:</b> Support company annual soirees, group interview days, campus tours and various networking events</li>
				</ul><br><hr>
				<time>February 2019 - Present</time>
			</li>
		</ul>
	</div>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.timelify.js') }}"></script>
<script>
	$('.timeline').timelify({
			animLeft: "fadeInLeft",
		animCenter: "fadeInUp",
		animRight: "fadeInRight",
		animSpeed: 600,
		offset: 150
	});
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endblock %}